.img{
  margin-left: 600px;
}
.img1{
  margin-left: 200px;
  margin-top: 50px;
  
}
.acc{
  margin-left: 820px;
  margin-top: -450px;
}
footer{
  margin-top:150px;
  margin-left:-250px;
}
h1,h2,p{
font-family: 'Roboto Slab', serif;
}
.zz{
  margin-left: 1300px;
  margin-top: -250px;
  margin-bottom: 200px;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color:black;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.back{
  margin-top: 150px;
  margin-left: -170px;
}